@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply outline-none bg-red-500 text-white font-bold rounded-lg shadow-md transition-colors hover:bg-red-600;
    }
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
    scrollbar-gutter: stable both-edges;
}

body {
    background: #efefef;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

* {
    font-size: 18px;
    font-weight: 500;
}

h1 {
    font-size: 27px;
    font-weight: 800;
}

h2 {
    font-size: 23px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: calc(27px - 25%);
    }
    h2 {
        font-size: calc(23px - 25%);
    }
    h3 {
        font-size: calc(20px - 25%);
    }
    * {
        font-size: calc(18px - 25%);
    }
}

input {
    outline: none;
    border: 2px solid #ef4444;
    padding: 10px 15px;
    border-radius: 8px;
    background: #efefef;
    width: 100%;
}